@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* fonts family */
  --font-anybody: "Anybody";
  --font-arimo: "Arimo";

  /* font color */
  --color-dark-heading: #1e1e1e;

  /* background color */
  --color-red-v1: linear-gradient(90deg, #e42525 0%, #ffbfb2 50%, #e42525 100%);
  --color-red-v2: linear-gradient(90deg, #ff5757 0%, #ffbfb2 50%, #ff5757 100%);

  /* ------------ about page start ----------------------- */

  /* hero section */

  /* ------------ about page end ----------------------- */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
